---
layout: rightcol
rightcol_partial: rightcol-community.html.haml
title: Community
---


/ Main hero unit for a primary marketing message or call to action
.row
  .col-md-9
    %h1 Join Uberfire Community
    %p There are several ways to get involved with the project: 
    %ul
      %li
        %p Checkout the source code in Github: 
        %a(href="http://github.com/uberfire/") http://github.com/uberfire/
      %li
        %p Hangout with the developers at irc.freenode.org #uberfire
      %li
        %p Join the google groups forums: 
        %a(href="http://groups.google.com/forum/#!forum/uberfire") http://groups.google.com/forum/#!forum/uberfire
      %li
        %p Help us to improve our docs: 
        %a(href="http://github.com/uberfire/uberfire-docs") http://github.com/uberfire/uberfire-docs  
      %li
        %p Help us to improve this webpage: 
        %a(href="http://github.com/uberfire/uberfire-website") http://github.com/uberfire/uberfire-website  
      %li
        %p 
          Issues 
          %a(href="http://issues.jboss.org/browse/UF") http://issues.jboss.org/browse/UF 

/ Example Content
