---
layout: rightcol
title: Downloads
---


/ Main hero unit for a primary marketing message or call to action
.row
  .col-md-9
    %h1 Uberfire Showcase (Tomcat) Downloads
    %p Tomcat Showcase 0.5.CR10
    %p<
      %a.btn.btn-primary.btn-lg(href="http://search.maven.org/remotecontent?filepath=org/uberfire/showcase-distribution-wars/0.5.0.CR10/showcase-distribution-wars-0.5.0.CR10-tomcat7.0.war") Download &raquo;
    %hr
    %h1 Uberfire Showcase (AS7) Downloads
    %p JBoss AS7 Showcase 0.5.CR10
    %p<
      %a.btn.btn-primary.btn-lg(href="http://search.maven.org/remotecontent?filepath=org/uberfire/showcase-distribution-wars/0.5.0.CR10/showcase-distribution-wars-0.5.0.CR10-jboss-as7.0.war") Download &raquo;
    %hr
    %p Source Code 0.5
    %p<
      %a.btn.btn-primary.btn-lg(href="https://github.com/uberfire/uberfire/tree/0.5.x") View &raquo;
    
/ Example Content
