---
layout: rightcol
title: Downloads
---


/ Main hero unit for a primary marketing message or call to action
.row
  .col-md-9
    %h1 Uberfire Downloads
    %p Latest Releaase 0.6
    %p<
      %a.btn.btn-primary.btn-lg(href="#") Download &raquo;
    %hr

/ Example Content
