---
layout: project
title: Uberfire Homepage
---
.row      
  .col-md-4.col-md-offset-4.text-center
    %a(href="#")<
    %img(src="#{site.jborg_images_url}/common/uberfire-logo.png" width="300px" height="300px")

.row
  .col-md-12
    :markdown
      UberFire is a Rich Client Platform framework ready for the Web. 

      Build on top of GWT and Errai,  Uberfire allows us to quickly build complex web applications purely in Java.
      Using your favourite IDEs (Eclipse, Netbeans, IntelliJ) you can quickly create workbench style applications. 
      UberFire works flawlessly in clustered and highly-available deployments.
%br
%br
.row
  .col-md-4     
    %h2 Flexible Layout
    :markdown
      Drag-and-drop layouts give your users control over their work environment.
  .col-md-4 
    %h2 Powerful VFS
    :markdown
      UberFire is backed up by the power of GIT. A Virtual File System, built on top of JGIT, provides support for change tracking including a metadata engine, full-text search, and security integration.
  .col-md-4 
    %h2 Native Plugin System
    :markdown
      Develop plugins in Java against our declarative, typesafe APIs, or choose your favorite JavaScript framework to develop your perspectives, views, editors, menu items, etc.

%br
%br
%br

