.div
  %h2 Quickstarts
  %ul.nav.nav-pills.nav-stacked
    %li.active
      %a{:href => "downloads.html"}
        %i.icon-fixed-width.icon-download
        Download
    %li
      %a{:href => "/docs"}
        %i.icon-fixed-width.icon-sitemap
        Documentation
    %li
      %a{:href => "http://github.com/uberfire/uberfire/"}
        %i.icon-fixed-width.icon-sitemap
        Source Overview
    
%br

.well
  #badges
    %ul
      %li.license-asl
        %a{:href => "http://www.apache.org/licenses/LICENSE-2.0"}
          %em Apache License, Version 2.0

.well.sponsors
  %h3 Sponsors
  %ul
    %li
      %a{:href => "http://www.jetbrains.com/"}
        %img.img-responsive.center-block{:alt => "JetBrians", :src => "http://static.jboss.org/common/images/sponsors/intellij-color.png"}/
      %p JetBrains has kindly donated an open source IntelliJ license.

%div
  %a{:href => "http://www.jboss.org/security.html"}/
  .projectpage-sprite.projectpage-sprite-securityimage

%div
  %a{:href => "http://www.jboss.org/security.html"}
    %img.img-responsive.center-block{:alt => "Find a security issue with a JBoss Project or Product? Report it now", :height => "110", :src => "http://static.jboss.org/common/images/securityissue.png"}/
