%h2 Community Events

%p 
  %strong The Developer's Conference 2016 Florian&oacute;polis BR
%p< Uberfire's commiter, Eder Ignatowicz will speak at TDC 2016 Florian&oacute;polis. If you want to discover more about Uberfire, this is a great opportunity! Take a look at the conference site for more information.
%a(href="http://www.thedevelopersconference.com.br/tdc/2016/index.html#florianopolis") TDC 2016 Site &raquo; 

%p
%p 
  %strong QCon SP 2016 BR
%p< Some Uberfire team members will be at QCon SP 2016! Alexandre Porcelli and Eder Ignatowicz will give speeches, which is a good opportunity to talk more with Uberfire's commiters! Take a look at the conference site for more information.
%a(href="http://qconsp.com/") QCon SP Site &raquo; 

%p
%p 
  %strong GWT Create 2015 US/EU 
%p< Uberfire will be at GWT Create US/EU, take a look at the conference site for more information.
%a(href="http://gwtcreate.com") GWT Create Site &raquo; 
  