%h2 Community Events
%p GWT Create 2015 US/EU 
%p< Uberfire will be at GWT Create US/EU, take a look at the conference site for more information.
%a(href="http://gwtcreate.com") GWT Create Site &raquo; 
  